# Credentials
credentials.json
*.json.key
*.pem
*.key

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
.terraform.lock.hcl

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db 